Source: pycairo
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Dave Beckett <dajobe@debian.org>, Torsten Marek <shlomme@debian.org>
Build-Depends: debhelper (>= 5.0.38), autotools-dev, pkg-config, python-all-dev (>= 2.4.0), python-all-dbg (>= 2.4.0), python-central (>= 0.5.6), libcairo2-dev (>= 1.8.6)
XS-Python-Version: >= 2.5
Standards-Version: 3.8.0
Homepage: http://cairographics.org/pycairo/

Package: python-cairo
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings for the Cairo vector graphics library
 This package contains modules that allow you to use the Cairo vector
 graphics library in Python programs.

Package: python-cairo-dbg
Priority: extra
Architecture: any
Depends: python-cairo (= ${binary:Version}), python-dbg, ${shlibs:Depends}
Description: Python bindings for the Cairo vector graphics library (debug extension)
 This package contains modules that allow you to use the cairo vector
 graphics library in Python programs.
 .
 This package contains the extension built for the python debug interpreter.

Package: python-cairo-dev
Architecture: all
Depends: ${python:Depends}, python-cairo (>= ${binary:Version})
Description: Python cairo bindings: development files
 This package contains files that allow you to compile wrappers
 that interoperate with python-cairo (pycairo).
