Source: pycairo
Section: python
Priority: optional
Maintainer: Dave Beckett <dajobe@debian.org>
Build-Depends: debhelper (>= 5.0.37.1), autotools-dev, pkg-config, python-all-dev (>= 2.3.5-10), python-numeric (>= 24.2-3), python-central (>= 0.4.17), libcairo2-dev (>= 1.0.2)
XS-Python-Version: all
Standards-Version: 3.6.2

Package: python-cairo
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}
Conflicts: python2.3-cairo, python2.4-cairo
Replaces: python2.3-cairo, python2.4-cairo
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings for the Cairo vector graphics library
 This package contains modules that allow you to use the cairo vector
 graphics library in Python programs.

Package: python-cairo-dev
Architecture: all
Depends: ${python:Depends}, python-cairo (>= ${Source-Version})
Description: Python cairo bindings: development files
 This package contains files that allow you to compile wrappers
 that interoperate with python-cairo (pycairo).
