#!/usr/bin/make -f
DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/dpatch.mk
include /usr/share/dpatch/dpatch.make

# needed for Python 2.6 test builds, installs into /usr/local
DEB_PYTHON_INSTALL_ARGS_ALL += --prefix=/usr

install/python-cairo-dev::
	python setup.py install_data --install-dir=$(CURDIR)/debian/tmp/usr

build/python-cairo-dbg::
	set -e; \
	for i in $(cdbs_python_build_versions); do \
	  python$$i-dbg ./setup.py build; \
	done

install/python-cairo-dbg::
	for i in $(cdbs_python_build_versions); do \
	  python$$i-dbg ./setup.py install --prefix=/usr --root $(CURDIR)/debian/tmp; \
	done

# pycairo.pc is created automatically by setup.py, remove before .diff.gz is created
clean::
	rm -f $(CURDIR)/pycairo.pc
